
/*---------------------
    BASE LAYOUT
-----------------------*/

*{
    box-sizing: border-box;
}

body{
    font: 1em/1.5 'Open Sans', sans-serif;
    color: #373737;
	background: #eaeaea;
    margin: 0;
    line-height: 2;

    
}
h1,
h3{
    text-transform: uppercase;
    margin-bottom: 0;
}

img{
    width: 150px;
}

p{
    font-size: .9rem;
    margin-top: 2px;
}

a{
    text-decoration: none;
    color: white;
    background: #4a89ca;
    display: block;
    width: 70%;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;

}

.container{
    height: calc(100vh - 72px);
}

.header img{
    display: block;
    border-radius: 50%;
    border: 2px solid white;
    margin: auto;
}

.header h1{
    font-size: 2.2em;
    color: white;
    display: inline-block;
    background: rgba(0,0,0,.4);
    padding: 10px;
}
.item img{
    width: 100%;
}
.item a{
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: white;
    background: rgb(119, 119, 226);
    transition-property: background;
    transition-duration: 1s;
}

.item a:hover{
    background: green;
}

/*********************
container layout
*********************/

.header{
    height: 300px;
    text-align: center;
    padding: 20px 0 40px 0;
    background-image: linear-gradient(to bottom, orange, transparent),
    url("img/Mountains2.jpg");
    background-size: cover;
    background-position: center+100;
   
}

.footer{
    padding: 20px;
    background: #ccc;
    display: block;
    text-align: center;
}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
    text-align: center;
}

.item{
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0 10px;
    padding: 0 10px 10px 10px;
}

/*********************
container transformation
*********************/

.trans{
    background: blue;
    height: 40px;
    width: 40px;
    transition-property: transform;
    transition-duration: 3s;
    margin-bottom: 10px;
    
}

.trans:hover{
    transform: rotate(1080deg);
}

/*********************
container transition
*********************/

.transition{
    background-color: red;
    height: 40px;
    width: 40px;
    transition: margin-left 2s;
}

.transition:hover{
    margin-left: 100px;
}

